@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,300;1,400&display=swap');

body{
    background:grey;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.navbar{
    background: whitesmoke;
    padding: 1em;



    }
nav{
    display: none;
    
}

.container{
    display: flex;
    place-content: space-between;
}
.mobile-menu{
    cursor: pointer;
}


a{
    color: brown;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

section{
    padding: 5em 2em;
}

.hero{
    text-align: center;

}

.left-col{

    text-transform: uppercase;
    font-weight: bold;
    color: yellowgreen;
    letter-spacing: .3em;
    
}

h1{
    font-size: 2.5em;
    line-height: 1.3em;
    margin-top: .2em;
}

.primary-cta{
    background: blue;
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius:5em ;
    font-weight: bold;
    display:inline-block ;
}

.watch-video-cta{
    display: block;
    margin-top: 1em;

}



.hero-img{
    width: 50%;
    margin-top: 3em;
}

section.features-section{
    background: blueviolet;
    color: white;

}

ul.features-list{
    margin: 0;
    padding-left: .1em;

}

li{
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    position: relative;
}

li::before{
    content: '';
    left: -2em;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url(../image/car.jpg);
    background-size: contain;
    margin-right: .5em;

}
.features-section img{
    display: none;
}

.testimonials-section{
    background: goldenrod;
    color: antiquewhite;

}

.testimonial-l{

    background: blue;
    text-align:center;
    padding: 2em 1em;
    width:80%;
    margin:0 auto 5em auto;  
    border-radius: 1em;
    
}
  
.testimonial-img{
    width: 4em;
    height: 5em;
    border: 5px solid blueviolet;
    border-radius: 50%;
    margin-top: auto;

}

h2{
    font-size: 2em;

}

label{
    display: block;
    font-size: 1.3em;
    margin-bottom: .5em;


}

input, textarea{
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
}

input[type="submit"] {
    background-color:blue;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;

}

iframe{
    width:auto;
    height: 300px;
}

nav.menu-btn{
    display: block;

}
nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: violet;
    height: 100vh;
    padding: 1em;
}


